.list-item {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #ebebeb;
  width: 600px;
  height: 120px;

  background-color: #ffffff;
}

.list-item div {
  margin-top: 10px;
}

.text {
  margin-left: 15px;
  color: #353a3f;
}

.detail span {
  margin-left: 15px;
  color: #8b778a;
  font-size: 14px;
}
